<% if products.any? %>
  <div id="container1">
    
  <ul class="media-list">
    <% products.each do |product| %>
      <li class="media">
        <div class="media-left">
          <% if product.image_product_sum.present? %>
            <%= image_tag product.image_product_sum.thumb.url %>
          <% else %>
            <div class="product">
              <%=  image_tag("/user_images/wanko.jpg", :size => "40×40") %>
            </div>
          <% end %>
        </div>
        <div class="media-body">
          <div>
            <%= product.name %>
          </div>
          <div class="star-rating" data-score= <%= @average_review[product.id] %>></div>
          
          <div>
            <p><%= link_to 'View profile', product_path(product) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate products %>
  </div>
<% end %>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>

<script>
$('.star-rating').raty({
  path: '/assets',
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
  
  }
});
</script>