<div id="container">
  <div id="content">
    <div id="main">
      <% reviews.each do |review| %>
        <article class = "henry post">
          <h2 class = "review-content-title">
            <span class = "review-index-img">
              <% if review.user.image_user.present? %>
                <%= image_tag review.user.image_user.thumb.url %>
              <% else %>
                <div class="user">
                  <%=  image_tag("/user_images/wanko.jpg", :size => "40×40") %>
                </div>
              <% end %>
            </span>
            <%= review.user.name %>
          </h2>
          <div class = "review-content">
            <h3>おすすめ度</h3>
            <div class="star-rating" data-score= <%= review.point %>></div>
          </div>
        
          <div class = "review-content">
            <h3>評価理由</h3>
            <%= review.content %>>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</div>

  
<script>
$('#star6').raty({
  readOnly: true,
  score: 4
});

$('.star-rating').raty({
  path: '/assets',
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
  
  }
});
</script>